#backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba($color: #000000, $alpha: 0.5);
    display: none;
    pointer-events: none;
    ;
}

:host([open]) #backdrop,
:host([open]) #modal {
    display: block;
    pointer-events: all
}

#modal {
    position: fixed;
    top: var(--wc-modal-top, 15vh);
    left: var(--wc-modal-left, 25%);
    z-index: var(--wc-modal-zIndex, 100);
    width: var(--wc-modal-width, 600px);
    margin: var(--wc-modal-margin, 0px auto);
    min-height: var(--wc-modal-minHeight, 30vh);
    background: var(--wc-modal-bgColor, white);
    padding: var(--wc-modal-padding, 10px 15px);
    display: none;
    pointer-events: none;
    ;


    .close {
        position: absolute;
        top: 15px;
        right: 5px;
        background: url('/public/img/clear-black-18dp.svg') no-repeat;
        width: 30px;
        height: 30px;
        border: 0;

        &:focus {
            outline: none
        }

    }
}