* {
    box-sizing: border-box;
}

:root {
    --color-primary: #488aff;
    --color-contrast: white !important;
    --color-button-outline-hover: none;
    --color-bg-outline-hover: none;
    --color-primary-tint-hover: #669eff;
}

.color-primary {
    --color-base: var(--color-primary, #488aff) !important;
    --color-contrast: white !important;
}

.color-contrast {
    --color-base: var(--color-contrast, white) !important;
}

/* .hover-icon .button-native:hover wc-icon {
    fill: var(--color-primary)
} */