* {
    box-sizing: border-box;
}

:root {
    --color-primary: #488aff;
}


.color {
    --color-base: var(--color-base, ##020814) !important;
}

.inverse {
    --color-base: white !important;
}

.color-primary {
    --color-base: var(--color-primary, #3880ff) !important;

}

