

.carousel__container ::slotted(*) {
    flex-shrink: 0;
}
.carousel {
    height: 100%;
    overflow: hidden;
    contain: paint;

}

.carousel__container {
    transform: translate3d(0, 0, 0);
    transition: ease 0.3;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    height: 100%;

    will-change: transform;
}

.disabled {
    opacity: 0.5
}

.carousel__container::after {
    content: '';
    clear: both;
    display: table;

}

.items {
    height: 10rem;
    background: #4DC7A0;
    padding: 1rem;

}

.carousel__item {
    position: relative;
    min-height: 1px;
    float: left;

}

.item {
    margin: 10px;
}

img {

    width: 100%;
    height: auto;
}

.carousel__next,
.carousel__prev {
    position: absolute;
    width: 40px;
    height: 40px;

    z-index: 100;

    background-size: 20px;
    border-radius: 50%;
    cursor: pointer;
    right: 20px;
    top: 50%;
}

.carousel__prev {
    transform: scale(-1);
    left: 20px;
}