:host {
    display: var(--wc-icon-display, inline-block);
    align-items: var(--wc-icon-justify-items, center);
    justify-content: var(--wc-icon-justify-content, center);
    position: relative;
    vertical-align: middle;
    fill: var(--wc-icon-color, black);
    stroke: none;
    width: var(--wc-icon-width, 24px);
    height: var(--wc-icon-height, 24px);
}